* General page styles */
body {
font-family: 'Times New Roman', Times, serif,;
background-color: #fff7e6; /* Soft cream background */
margin: 20px;
}
/* Heading */
h1 {
color: pink; /* Warm orange */
}
/* Paragraph */
p {
color: pink;
}
/* List styles */
ul {
list-style-type: square; /* Options: disc, circle, square */
padding-left: 20px;
}
li {
margin: 5px 0;
color: pink; /* Dark teal */
}
.container{
display: flex;
  justify-content: center;
}
.box{
  width: 150px;
  height: 150px;
  font-size: 8em;
  text-align: left
  border-radius: 15px;
  background-color: pink
}
#box1{
  background-color: pink
}
#box2{
  background-color: purple
}
#box3{
  background-color: pink 
{
#box4{
  background-color: purple
}
